<header th:fragment="header" class="shadow-sm" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
    <div class="container text-center">
        <div sec:authorize="isAuthenticated()">
            <div class="row">
                <div class="col">
                    <div sec:authentication="name"></div>
                </div>
                <div class="col">
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-primary">로그아웃</button>
                    </form>
                </div>
            </div>
        </div>
        <div sec:authorize="isAnonymous()">
            <div class="row">
                <div class="col">
                    로그인이 안된상태를 여기에 표시.
                </div>
                <div class="col">
                    로그인하세요 버튼을 여기 넣기.
                </div>
            </div>
        </div>
    </div>
</header>