<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
    layout:decorate="~{default}">

<head>
    <link rel="stylesheet" th:href="@{/css/login/login.css}" />
    <title>Please Log In</title>
</head>

<body>
    <div class="container d-flex justify-content-center" layout:fragment="content">
        <div class="loginInput border rounded p-1" sec:authorize="isAnonymous()">
            <h1>Please Log In</h1>
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username and password.</div>
            <div th:if="${param.logout}" class="alert alert-info">
                You have been logged out.</div>
            <form th:action="@{/login}" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text w-25">email</span>
                    <input type="text" name="username" class=" form-control"  placeholder="Username" />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text w-25">password</span>
                    <input type="password" name="password" class=" form-control" placeholder="Password" />
                </div>
                <input class="btn btn-primary" type="submit" value="로그인" />
            </form>
        </div>
        <div sec:authorize="isAuthenticated()">
            이미 로그인되어있습니다.
            <a class="btn btn-primary" href="/">메인화면으로 이동...</a>
        </div>

    </div>
</body>

</html>