<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>Main Page</title>
</head>
<body>
    <div layout:fragment="content">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>email</th>
                    <th>name</th>
                    <th>createdAt</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.createdAt}"></td>
                    <td><button class="btn btn-danger">삭제</button></td>
                </tr>
            </tbody>
    </div>
</body>
</html>
