<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
  <title>new Post</title>
</head>

<body>
<div layout:fragment="content" class="container">
  <h1>new Post</h1>
  <form method="POST" th:action="@{/newPost}" id="newPostForm">
    <div class="form-group">
      <label for="title">title </label>
      <input id="title" name="title" class="form-control" />
    </div>
    <div class="form-group mb-3">
      <label for="content"> </label>
      <textarea class="form-control" id="content" name="content" rows="5"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="newPost" />
  </form>
</div>
</body>

</html>