<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6" layout:decorate="~{default}">

<head>
  <title th:text="${post.title}">PostDetail</title>
    <script src="/js/postDetail/postDetail.js"></script>
</head>

<body>
<div layout:fragment="content">
  <div class="container">

    <div>
        <span>
            <strong>POST ID:</strong> <span th:text="${post.boardId}"></span>
        </span>
        <span>
            <strong>user:</strong> <span th:text="${post.user.email}"></span>
        </span>
    </div>
    <div>
        <h2 th:text="${post.title}"></h2>
        <p th:text="${post.content}"></p>
    </div>
      <button th:if="${#strings.equals(post.user.email, #authentication.name)}"
              class="btn btn-danger delete-btn" th:boardId="${post.boardId}">글삭제</button>
</div>
</body>

</html>